<div class="answer">

  <h3 class="special-font">{{answer.content_answer}}</h3>

  <span class="timestamp-answer">{{answer.timePosted_answer}}</span>
  <h5 class="answer-author">{{answer.author_answer}}</h5>



</div>
