<div class="navbar-top">
  <header>
    <h3 id="welcome-message">welcome to <span class="special">the dojo</span></h3>
    {{#link-to 'index' class="navbar-item"}}Home{{/link-to}}
    {{#link-to 'about' class="navbar-item"}}About{{/link-to}}
    {{#link-to 'contact' class="navbar-item"}}Contact{{/link-to}}
    {{#link-to 'videos' class="navbar-item"}}Videos{{/link-to}}
    <hr id="header-hr">
  </header>
</div>
