<div class="navbar-top">
  <header>
    <h3 id="welcome-message">welcome to <span class="special">Da Mystery of Wu</span></h3>
    {{#link-to 'index' class="navbar-item"}}Home{{/link-to}}
    {{#link-to 'about' class="navbar-item"}}About{{/link-to}}
    {{#link-to 'favorites' class="navbar-item"}}Favorites{{/link-to}}
    <hr id="header-hr">
  </header>
</div>
