<div class="question">
  <span {{action 'toggleFavorite' question}}>{{favorite-questions favoritesList question}}</span>
  <span class="question-home">{{#link-to 'question' question.id class="question-home"}}{{question.content}}{{/link-to}}</span>
  <br><br>
  <span class="author-home">{{question.author}}</span>
</div>
