body{
  background-color:rgba(130, 130, 200, .5);
  color: white;
  text-align: center;
}

a {
  color: white;
}

a:hover{
  color: white;
}

header{
  position: fixed;
  top:35px;
}

/*
#footer-holder{
  position: absolute;
  bottom: 25px;
  width: 100%;
}*/
