body{
  background-color:rgba(130, 130, 200, .5);
  color: white;
}

a {
  color: white;
}

a:hover{
  color: white;
}

a:visited{
  color: #ffffff;
}

button{
  background-color: rgba(200, 130, 130, 1);
}

input{
  color:rgba(200, 130, 130, 1);
}

header{
  position: fixed;
  top:35px;
}

#body-main{
  margin-top: 10em;
}

#question-list{
  margin-top: 10em;
  padding-left: 5em;
  text-align: left;
  border: 1px solid white;
  border-radius: 8%;
  background-color:rgba(255, 255, 255, .3);
}

#question-list h5{
  margin-left: 3em;
}

.question{
  margin: 5em;
}

.question-panel{
  border: 1px white solid;
  border-radius: 8%;
  padding: 1em 3em 5em 3em;
}

.question-panel button{
  margin: .25em;
}

.remove-edit{
  display: inline-block;
  float: left;
}

#question-new{
  margin-top: 5em;
}
