<div id="question-list">
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</div>

<div id="question-new">

  {{question-new saveQuestion="saveQuestion"}}

</div>
