<h3>this is now the page:</h3>
<br><br><br>

<div class="question-panel">

  {{question-detail question=model destroyQuestion="destroyQuestion"}}
  {{question-edit question=model update="update"}}
  <br><br>
  {{answer-new question=model saveAnswer="saveAnswer"}}

</div>
