<div class="question-panel">

  {{question-detail question=model destroyQuestion="destroyQuestion"}}
  {{question-edit question=model update="update"}}

  <br><br>

  <br>
  {{answer-new question=model saveAnswer="saveAnswer"}}

</div>
