<h3>this is now the page:</h3>
<br><br><br>

<div class="question-panel">

  {{question-detail question=model destroyQuestion="destroyQuestion" saveAnswer="saveAnswer"}}
  {{question-edit question=model update="update"}}

</div>
